@using Bookclub.Models.Books.BookViews;
@using Bookclub.Views.Components.ContainerComponents;
@using Bookclub.Models.Colors;
@inject NavigationManager NavigationManager


    <ContainerComponent State="State">
        <Content>
            <div>
                <TextBoxBase @ref="IsbnTextBox"
                             @bind-Value="@IsbnInput"
                             Placeholder="@BookView.Isbn" />
                <br />
                <TextBoxBase @ref="Isbn13TextBox"
                             @bind-Value="@Isbn13Input"
                             Placeholder="@BookView.Isbn13" />
                <br />
                <TextBoxBase @ref="AuthorTextBox"
                             @bind-Value="@AuthorInput"
                             Placeholder="@BookView.PrimaryAuthor" />
                <br />

                <TextBoxBase @ref="TitleTextBox"
                             @bind-Value="@TitleInput"
                             Placeholder="@BookView.Title" />
                <br />
                <TextBoxBase @ref="SubtitleTextBox"
                             @bind-Value="@SubTitleInput"
                             Placeholder="@BookView.Subtitle" />
                <br />
                @*<DropDownBase @ref=MediaTypeDropDown
                              @bind-Value="@MediaTypeInput"
                              TEnum="BookViewMediaType" />
                <br />*@
                <TextBoxBase @ref=Publisher
                             @bind-Value="@PublisherInput"
                             Placeholder="@BookView.Publisher" />
                <br />
                <TextBoxBase @ref=ListPrice
                             @bind-Value="@BookListPrice"
                             PlaceHolder="@BookView.ListPrice" />
                <br />
                <DatePickerBase @ref="PublishDatePicker"
                                @bind-Value="@PublishDateInput"
                                />

                <br />
                <ButtonBase @ref=ConfirmEditButton
                            Label="Confirm"
                            OnClick="(() => EditBookAsync(BookToEdit))" />

                <ButtonBase @ref=CancelEditButton
                            Label="Cancel"
                            OnClick="@CancelEditAsync" />

                <br />
                <LabelBase @ref=StatusLabel />

            </div>
        </Content>
    </ContainerComponent>
