@using Bookclub.Core.DomainAggregates
@using Bookclub.Shared.Components
@inject NavigationManager NavigationManager


    <ContainerComponent State="State">
        <Content>
            <div>
                <TextBoxBase @ref="IsbnTextBox"
                             @bind-Value="@BookViewToUpdate.Isbn"
                             Placeholder="Isbn" />
                <LabelBase Value="Isbn" />
                <br />
                <TextBoxBase @ref="Isbn13TextBox"
                             @bind-Value="@BookViewToUpdate.Isbn13"
                             Placeholder="Isbn13"/>
                <LabelBase Value="Isbn13" />
                <br />
                <TextBoxBase @ref="AuthorTextBox"
                             @bind-Value="@BookViewToUpdate.PrimaryAuthor"
                             Placeholder="Author" />
                <LabelBase Value="Author" />
                <br />
                <TextBoxBase @ref="TitleTextBox"
                             @bind-Value="@BookViewToUpdate.Title"
                             Placeholder="Title" />
                <LabelBase Value="Title" />
                <br />
                <TextBoxBase @ref="SubtitleTextBox"
                             @bind-Value="@BookViewToUpdate.Subtitle"
                             Placeholder="Subtitle" />
                <LabelBase Value="Subtitle" />
                <br />
                @*
           <LabelBase Value="Media" />
           <DropDownBase @ref=MediaTypeDropDown
             @bind-Value="@MediaTypeInput"
             TEnum="BookViewMediaType" />
        <br />*@
                <TextBoxBase @ref=PublisherTextBox
                             @bind-Value="@BookViewToUpdate.Publisher"
                             Placeholder="Publisher" />
                <LabelBase Value="Publisher" />
                <br />
                <TextBoxBase @ref=ListPrice
                             @bind-Value="@BookViewToUpdate.ListPrice"
                             PlaceHolder="List Price" />
                <LabelBase Value="List Price" />
                <br />
                <DatePickerBase @ref="PublishDatePicker"
                                @bind-Value="@BookViewToUpdate.PublishedDate" />
                <LabelBase Value="Publish Date" />

                <br />
                <ButtonBase @ref=ConfirmEditButton
                            Label="Confirm"
                            OnClick="(() => EditBookAsync(BookViewToUpdate))" />

                <ButtonBase @ref=CancelEditButton
                            Label="Cancel"
                            OnClick="@CancelEditAsync" />

                <ButtonBase @ref=AddBookDetailsButton
                            Label="ISBN DB Details"
                            OnClick="(() => GetApiDataAsync(BookViewToUpdate))" />

                <br />
                <LabelBase @ref=StatusLabel />

            </div>
        </Content>
    </ContainerComponent>
